:root {
    --fallback-font-family: -apple-system, system-ui, "Segoe UI", Roboto, Noto, Oxygen-Sans, Ubuntu, Cantrell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

body,
html {
    min-height: 100vh;
    font-family: var(--fallback-font-family);
    scroll-behavior: smooth;
}

#root {
    margin: 0 auto;
    max-width: 80vw;
}

/*  header style */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    background-color: #D9E8FF;
    padding: 20px;
    position: relative;
}

/*  header shape divider */

.custom-shape-divider-bottom-1676153311 {
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1676153311 svg {
    position: relative;
    display: block;
    width: calc(141% + 1.3px);
    height: 50px;
}

.custom-shape-divider-bottom-1676153311 .shape-fill {
    fill: white;
}


.header .nav {
    display: flex;
    gap: 40px;
    white-space: nowrap;
}

.header img {
    width: 100px;
}

.header button {
    background: none;
    padding: 2px 20px;
    border: 2px solid #5660f1ae;
    font-weight: 500;
    color: #33366E;

    -webkit-box-shadow: 7px 7px 0 -3px #f9675fd5;
    -moz-box-shadow: 7px 7px 0 -3px #f9675fd5;
    box-shadow: 7px 7px 0 -3px #f9675fd5;
}

.header button:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #f9675fd5;
    border: 2px solid #f9675fd5;
}

/*  main lockup style */

.lockup {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70vh;
    padding: 35px;
    background-color: #CDF2FA;
}

.lockup img {
    width: 50%;
}

.main-lockup {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 50px;
}

.main-lockup button {
    font-size: 1.3rem;
    font-weight: 600;
    color: #CDF2FA;
    align-self: flex-start;
    margin-top: 50px;
    background-color: #546658;
    padding: 10px 40px;

    -webkit-box-shadow: 7px 7px 0 -3px #1B374F;
    -moz-box-shadow: 7px 7px 0 -3px #1B374F;
    box-shadow: 7px 7px 0 -3px #1B374F;
}

.main-lockup button:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #1B374F;
    border: 2px solid #1B374F;

}

.main-lockup h1 {
    white-space: nowrap;
    color: #15665D;
}

.main-lockup h3 {
    font-weight: 500;
    color: #15665da0;
    width: 450px;
}

.templates {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "title title title" "executive pro simple" "executiveDesc proDesc simpledesc";
    gap: 35px;
    margin-bottom: 75px;
}

.templates :nth-child(1) {
    grid-area: title;
    padding-left: 35px;
    color: #1B374F;
}

.templates :nth-child(2) {
    grid-area: executive;
    border: 1px solid #2DBEAE;
}

.templates :nth-child(3) {
    grid-area: executiveDesc;
    padding-left: 35px;
    color: #1B374F;
}

.templates :nth-child(4) {
    grid-area: pro;
    border: 1px solid #4F91CD;
}

.templates :nth-child(5) {
    grid-area: proDesc;
    padding-left: 35px;
    color: #1B374F;
}

.templates :nth-child(6) {
    grid-area: simple;
    border: 1px solid #468966;
}

.templates :nth-child(7) {
    grid-area: simpledesc;
    padding-left: 35px;
    color: #1B374F;
}

/*  main lockup top shape divider */
.custom-shape-divider-top-1676153749 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1676153749 svg {
    position: relative;
    display: block;
    width: calc(141% + 1.3px);
    height: 50px;
}

.custom-shape-divider-top-1676153749 .shape-fill {
    fill: white;
}

/* main lockup bottom shape divider */

.custom-shape-divider-bottom-1676156989 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1676156989 svg {
    position: relative;
    display: block;
    width: calc(141% + 1.3px);
    height: 50px;
}

.custom-shape-divider-bottom-1676156989 .shape-fill {
    fill: #FFFFFF;
}

.about-section {
    padding: 35px;
    background-color: #D9E8FF;
    margin-bottom: 75px;
}

.about-section h1 {
    color: #1B374F;
    padding-bottom: 35px;
}

.about-section p {
    color: #1b374fce;
    font-weight: 500;
    font-size: 1.1rem;
}

.action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #CDF2FA;
    padding: 35px;
}

.action h2{
    font-weight: 400;
    color: #15665D;
}

.action button {
    font-size: 1.3rem;
    font-weight: 600;
    color: #CDF2FA;
    margin-top: 50px;
    background-color: #546658;
    padding: 10px 40px;

    -webkit-box-shadow: 7px 7px 0 -3px #1B374F;
    -moz-box-shadow: 7px 7px 0 -3px #1B374F;
    box-shadow: 7px 7px 0 -3px #1B374F;
}

.action button:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #1B374F;
    border: 2px solid #1B374F;

}

footer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: #CDF2FA;
    color:#15665D;
}

.footer-container{
    padding: 35px 35px 10px 35px;
    display: flex;
    justify-content: space-between;
}

.footer-container>*{
    border-left: 1px solid #546658;
    padding-left: 20px;
}

.copyright{
    margin-left: 35px;
    margin-right: 35px;
    border-top: 1px solid #546658;
    text-align: center;
    color:#546658;
}

.footer-social ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-social ul img,
.footer-contact ul img{
    width: 30px;
}

.footer-contact ul li{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-links ul li:hover {
    background-color: #f9675fd5 ;
}